@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One');

body {
  background-color: black;
}

.container {
  z-index: 200;
  position: absolute;
  width: 100%;
}

.playerContainer iframe {
  padding-left: 1%;
  border: 1px solid #363636;
  width: 150px;
  height: 150px;
  filter: drop-shadow(5px 5px 5px rgb(255, 0, 200));
}

canvas {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
}

.logo {
  text-transform: uppercase;
  font-family: "Saira Stencil One", sans-serif;
  font-size: 30vw;
  color: rgba(95, 115, 123, .25);
  text-align: center;
  vertical-align: top;
}
