body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background-color: #333A3A;
    color: #7C9697;
    overflow: hidden;
    font-size: .8em;
}

.soundcloud {
    margin: 1px;
    border-bottom: 1px solid #353F3F;
    max-width: 310px;
}

#header,
#footer {
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1000;
}

#header::after,
#footer::after {
    content: "";
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;;
}

#header .content {
    padding: .2em;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

#footer {
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2em;
    padding-right: 1em;
    vertical-align: top;
}

#stage,
#data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stage {
    animation: rotate 900s linear 0s infinite;
    -webkit-animation: rotate 900s linear 0s infinite;
    border: 1px solid red;
}

#info {
    position: absolute;
    top: 55%;
    left: 45%;
}

#progress,
#meter {
    position: absolute;
    left: 0;
    height: 10px;
    z-index: 1000;
}

#progress {
    top: 50%;
    background-color: black;
    width: 100%;
}

#meter {
    background-color: #696973;
}

.bit {
    position: absolute;
    -webkit-transition: all 700ms cubic-bezier(.13,.47,.84,.12);
    transition: all 700ms cubic-bezier(.13,.47,.84,.12);
    opacity: 0;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

#conform,
#interact,
.line,
.gene {
    position: absolute;
    -webkit-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    opacity: 0;
}

.gene {
    font-size: .5em;
    background-color: black;
    color: #586667;
}

.genetic-error {
    color: red;
}

.line {
    height: 1px;
    background-color: #282832;
}

#interact {
    font-size: .7em;
    color: #586667;
    background-color: black;
    padding: 2px;
    border: 1px solid #333333;
}

#conform {
    font-size: .4em;
    color: #586667;
    top: 10px;
    left: 120px;
    opacity: .3;
    width: 33%;
}

a {
    color: #99acad;
    text-decoration: none;
}
a:hover {
    color: #aacccd;
    text-decoration: underline;
}
